<section class="about">
    <p class="about__label">tradition and love</p>
    <h1 class="about__title">how it’s made?</h1>
    <br class="about__container">
        <p class="about__pre-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
        Maecenas eleifend erat at justo fringilla.</p>
        <p class="about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
        </br>
        Aliquam erat volutpat. Aenean accumsan.</p>
    </div>
</section>