<div class="order-backdrop backdrop--hidden" data-order-data>
  <div class="order-modal">
    <button
      class="order__btn-close readmore-modal__close"
      data-order-close
      type="button"
      aria-label="Close"
    >
      <svg class="order__icon" width="14px" height="14px">
        <use href="images/hero-header/svg/sprite.svg#close"></use>
      </svg>
    </button>

    <div class="order__header">Choose your destiny</div>

    <ul class="order__list">
      <li class="order__item">
        <button class="order__btn" type="button">
          <a href="https://www.ubereats.com/" rel="noopener noreferrer">
            <svg class="order__icon" width="150px" height="25px">
              <use href="images/hero-header/svg/sprite.svg#icon-uber-eats"></use>
            </svg>
          </a>
        </button>
      </li>
      <li class="order__item">
        <button class="order__btn order__btn--width" type="button">
          <a class="order__link" href="#">Take Away</a>
        </button>
      </li>
    </ul>
  </div>
</div>
