<section class="gallery gallery__-gradient">
    <div class="container gallery__position">
        <picture>
        <source srcset="./images/gallery/desktop/ice-cream-green.png 1x, ./images/gallery/desktop/ice-cream-green-x2.png 2x" media="(min-width: 1280px)">
        <img class="gallery__image gallery__image-green" src="./images/gallery/desktop/ice-cream-green.png" alt="зеленое мороженое ">
        </picture>
    
        <picture>
        <source srcset="./images/gallery/desktop/ice-cream-yellow.png 1x, ./images/gallery/desktop/ice-cream-yellow-x2.png 2x" media="(min-width: 1280px)">
        <img class="gallery__image gallery__image-yellow" src="./images/gallery/desktop/ice-cream-yellow.png" alt="мороженое на желтом фоне">
        </picture>
        <picture>
        <source srcset="./images/gallery/desktop/ice-cream-pink.png 1x, ./images/gallery/desktop/ice-cream-pink-x2.png 2x" media="(min-width: 1280px)">
        <img class="gallery__image gallery__image-pink" src="./images/gallery/desktop/ice-cream-pink.png" alt="розовое мороженое">
        </picture>
        <picture>
        <source srcset="./images/gallery/desktop/ice-creams.png 1x, ./images/gallery/desktop/ice-creams-x2.png 2x" media="(min-width: 1280px)">
        <img class="gallery__image gallery__image-ice-creams" src="./images/gallery/desktop/ice-creams.png" alt="мороженое">
        </picture>
        <picture>
        <source srcset="./images/gallery/desktop/ice-cream-girl.png 1x, ./images/gallery/desktop/ice-cream-girl-x2.png 2x" media="(min-width: 1280px)">
        <img class="gallery__image gallery__image-girl" src="./images/gallery/desktop/ice-cream-girl.png" alt="мороженое">
        </picture>
        <picture>
        <source srcset="./images/gallery/desktop/ice-cream-berry.png 1x, ./images/gallery/desktop/ice-cream-berry-x2.png 2x" media="(min-width: 1280px)">
        <img class="gallery__image gallery__image-berry" src="./images/gallery/desktop/ice-cream-berry.png" alt="мороженое">
        </picture>
        <picture>
        <source srcset="./images/gallery/desktop/ice-cream-hand.png 1x, ./images/gallery/desktop/ice-cream-hand-x2.png 2x" media="(min-width: 1280px)">
        <img class="gallery__image gallery__image-hand" src="./images/gallery/desktop/ice-cream-hand.png" alt="мороженое">
        </picture>
        <picture>
        <source srcset="./images/gallery/desktop/ice-cream-dog.png 1x, ./images/gallery/desktop/ice-cream-dog-x2.png 2x" media="(min-width: 1280px)">
        <img class="gallery__image gallery__image-dog" src="./images/gallery/desktop/ice-cream-dog.png" alt="мороженое">
        </picture>
        <picture>
        <source srcset="./images/gallery/desktop/milkshake.png 1x, ./images/gallery/desktop/milkshake-x2.png 2x" media="(min-width: 1280px)">
        <img class="gallery__image gallery__image-milkshake" src="./images/gallery/desktop/milkshake.png" alt="мороженое">
        </picture>
        <picture>
        <source srcset="./images/gallery/desktop/cupcake.png 1x, ./images/gallery/desktop/cupcake-x2.png 2x" media="(min-width: 1280px)">
        <img class="gallery__image gallery__image-cupcake" src="./images/gallery/desktop/cupcake.png" alt="мороженое">
        </picture>
    </div>
</section>