<section class="product">
    <div class="product-block container">
        <p class="product-label">100% natural</p>
        <h2 class="product-title">products</h2>
        <ul class="product-list">
            <li class="product-list__item product-list__item--icecream">
                <h3 class="product-list__title">ice cream</h3>
                <p class="product-list__text" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="product-list__btn">
                    <svg width="12px" height="18px" class="product-list__icon">
                        <use href="images/products/svg/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </li>
            <li class="product-list__item product-list__item--icecoffee">
                <h3 class="product-list__title">ice coffee</h3>
                <p class="product-list__text" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="product-list__btn">
                    <svg width="12px" height="18px" class="product-list__icon">
                        <use href="images/products/svg/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </li>
            <li class="product-list__item product-list__item--milkshakes">
                <h3 class="product-list__title">milkshakes</h3>
                <p class="product-list__text" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="product-list__btn">
                    <svg width="12px" height="18px" class="product-list__icon">
                        <use href="images/products/svg/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>

