<div class="container swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide customer-item">
      oiuhoiuhgoiughoiugoiug
      <img
        class="swiper-image"
        src="./images/review/emily_photo.png"
        alt="emily_photo"
        width="85"
      />
    </div>
    <div class="swiper-slide">
      <img
        class="swiper-image"
        src="./images/review/emily_photo.png"
        alt="emily_photo"
        width="85"
      />
    </div>
    <div class="swiper-slide">
      <img
        class="swiper-image"
        src="./images/review/emily_photo.png"
        alt="emily_photo"
        width="85"
      />
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
<div></div>
