<section class="swiper mySwiper">
  <div class="container swiper-wrapper">
    <div class="swiper-slide customer-item">
      <img
        class="swiper-image"
        src="./images/review/emily_photo.png"
        alt="emily_photo"
        width="85"
      />
      <p class="reviews__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
      <b class="reviews__person">Emily, Los Angeles</b>
    </div>
    <div class="swiper-slide">
      <img
        class="swiper-image"
        src="./images/review/emily_photo.png"
        alt="emily_photo"
        width="85"
      />
      <p class="reviews__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
      <b class="reviews__person">Emily, Los Angeles</b>
    </div>
    <div class="swiper-slide">
      <img
        class="swiper-image"
        src="./images/review/emily_photo.png"
        alt="emily_photo"
        width="85"
      />
      <p class="reviews__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
      <b class="reviews__person">Emily, Los Angeles</b>
    </div>
  </div>
  <div class="container swiper-pagination"></div>
</section>
