<section class="reviews">
  <div class="container">
    <h2 class="visually-hidden">reviews</h2>
    <div class="review-card">
      <img class="reviews-img" src="./images/review/emily_photo.png" alt="emily photo" width="85" />
      <div class="reviews__text-wrapper">
        <div class="reviews__underline"></div>

        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="reviews__person-information">Emily, Los Angeles</p>
    </div>
  </div>
</section>
