.advantages__milk::before {
    content:url(/images/advantages/milk.png);
    margin-bottom: 16px;
}

.advantages__bucket::before {
    content:url(/images/advantages/bucket.png);
    margin-bottom: 16px;
}

.advantages__icecream::before {
    content:url(/images/advantages/icecream.png);
    margin-bottom: 16px;
}