// .product {

// }
// .section {
// }
// .product-block {
// }
// .container {
// }
.product-label {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.13333;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
// .product-title {
// }
// .product-list {
// }
// .item {
// }
// .product-list__description {
// }
// .product-list__title {
// }
// .product-list__text {
// }
// .product-list__btn {
// }