
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    display: block;
    align-items: center;
     @media screen and (min-width: 768px) {
    max-width: 620px;
     
  }
  @media screen and (min-width: 1280px) {
    width: 926px;
    max-width: 926px;
    margin-bottom: 40px;
  }

}
.reviews__text{
 text-align: center;
    font-size: 18px;
    background: #fff;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 440px;
  @media screen and (min-width: 768px) {
    max-width: 620px;
     
  }
  @media screen and (min-width: 1280px) {
    width: 926px;
    max-width: 926px;
    overflow: hidden;
    overflow: hidden;
    margin-bottom: 40px;
  }
}
.swiper-slide {
   display: flex;
   flex-direction: column;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
   margin-top: 40px;
   margin-bottom: 40px;
  
}
.reviews__person{
    margin-bottom: 30px;
}
.swiper-slide img {
    display: block;
    width: 85px;
    height: 85px;
    object-fit: cover;
align-items: center;
margin-bottom: 30px;
}
.swiper-pagination{
    margin: 0 auto;
    transform: translateX(15px);
}

.swiper-pagination-bullet-active {
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    border-radius: unset;
    width: 20px;
    height: 20px;
}
